header {
  background: #888;
  text-align: center;
  padding: 50px 20px;
}

header h1 {
  margin: 0;
}

header h4 {
  margin: 10px 0 0 0;
}

.questions {
  padding: 20px;
  background: #eee;
}

form {
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #666;
}

/*-----------------*/

.answers {
  padding: 20px;
  background: #556;
  height: 500px;
}

.answers-header {
  text-align: center;
  color: #fff;
}

.answers-header p {
  font-style: italic;
}
