header {
  background: #888;
  text-align: center;
  padding: 50px 20px;
}

header h1 {
  margin: 0;
}

header h4 {
  margin: 10px 0 0 0;
}

.questions {
  padding: 20px;
  background: #eee;
}

form {
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #666;
}
