/*---header and questions section styles---*/

header {
  background: #888;
  text-align: center;
  padding: 50px 20px;
}

header h1 {
  margin: 0;
}

header h4 {
  margin: 10px 0 0 0;
}

.questions {
  padding: 20px;
  background: #eee;
}

form {
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #666;
}

/*---answers section and list styles---*/

.answers {
  padding: 20px;
  background: #556;
  min-height: 300px;
}

.answers-header {
  text-align: center;
  color: #fff;
}

.answers-header p {
  font-style: italic;
}

#fav-list {
  display: none;
}

#fav-list {
  padding: 20px;
  margin-top: 20px;
  text-align: center;
  border: 1px solid #fff;
  border-radius: 50%;
}

#fav-list li {
  margin: 20px 0;
  list-style: none;
  color: #000;
  font-size: 2rem;
  font-style: italic;
}
